include LICENSE
include README.md
include setup.py
recursive-include luau_wasm *.py
recursive-include native *.cpp
recursive-include vendor/luau *.h *.cpp *.txt
recursive-include scripts *.sh
recursive-include docs *.html
